/* Styles for Omnifood project */

/*
  1. Typography

    - font sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - font weights:
      - default: 400, 600

    - line heights
      - default: 1, 1.1, 1.5

  2. Color

    - cf. CSS variables :root

  5. Using shadows

  6. Using border radius

  - 9px, 50%

  7. Using white space

  - spacing: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import "debug-styles.css";

:root {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;

  /* colors */
  /* brand color */
  --color-main: #e67e22;
  --color-main-tint90: #fdf2e9;
  --color-main-shade10: #cf711f;
  /* neutral greys */
  --color-neutral1: #333;
  --color-neutral2: #555;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* extracts ampersand character from Baskerville-Italics font */
@font-face {
  font-family: Ampersand;
  src: url("../../vendors/fonts/baskerville-pro-italic-webfont.eot");
  src: url("../../vendors/fonts/baskerville-pro-italic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../vendors/fonts/baskerville-pro-italic-webfont.woff")
      format("woff"),
    url("../../vendors/fonts/baskerville-pro-italic-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0026;
}

body {
  /* maybe use font shorthand here */
  font-size: 1.6rem;
  font-family: Ampersand, Rubik, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-neutral2);
}

/* -- Global element styles -- */

button {
  cursor: pointer;
}

a:link,
a:visited {
  /* styles */
}

a:hover,
a:focus,
a:active {
  /* styles */
}

/* -- Reusable Styles -- */

/* Fluid Grid */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-neutral2);
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  transition: background 0.3s;
}

.btn-primary:link,
.btn-primary:visited {
  color: #fff;
  background-color: var(--color-main);
  padding: 1.6rem 3.2rem;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--color-main-shade10);
}

.btn-secondary:link,
.btn-secondary:visited {
  background-color: #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--color-main-tint90);
  box-shadow: inset 0 0 0 0.3rem #fff;
}

/* -- Content -- */

/* -- Header -- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main-tint90);
  padding: 3.2rem 4.8rem;
  /* padding: 2.4rem 3.2rem; */
}

.logo img {
  height: 2.4rem;
}

/* -- Main Navigation -- */

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-list {
  /* display: inline-block; */
  list-style: none;
  font-size: 1.8rem;
}

.nav-list-link:link,
.nav-list-link:visited {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-neutral1);
  transition: all 0.3s;
}

.nav-list-link:hover,
.nav-list-link:active {
  color: var(--color-main);
}

.nav-list-link.nav-cta:link,
.nav-list-link.nav-cta:visited {
  /* font-size: 2rem; */
  /* font-weight: 500; */
  color: #fff;
  background-color: var(--color-main);
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  border-radius: var(--bdrs-default);
}

.nav-list-link.nav-cta:hover,
.nav-list-link.nav-cta:active {
  background-color: var(--color-main-shade10);
}
/* -- Hero section -- */

.section-hero {
  background-color: var(--color-main-tint90);
  padding: 4.8rem 0 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
  margin: 0 auto;
  max-width: 130rem;
}

.hero-textbox {
}

.heading-primary {
  font-size: 5.2rem;
  color: var(--color-neutral1);
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.hero-text {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-imgbox {
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 8rem;
}

.delivered-images {
  display: flex;
}

.delivered-images img {
  width: 4.8rem;
  height: 4.8rem;
  border: 3px solid var(--color-main-tint90);
  border-radius: 50%;
}

/* overlap images */
.delivered-images img:not(:last-child) {
  margin-right: -1.6rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--color-main);
}
